<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Cowrie Log Viewer</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item {% if page == 'log' %}active{% endif %}">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Statistics
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item {% if page == 'stats-countries' %}active{% endif %}" href="/stats/countries">Attackers by Country</a>
                    <a class="dropdown-item {% if page == 'stats-userpass' %}active{% endif %}" href="/stats/userpass">Usernames and Passwords</a>
                    <a class="dropdown-item {% if page == 'visualization' %}active{% endif %}" href="/visualization">Visualization</a> <!-- New link for visualization -->
                </div>
            </li>
            <li class="nav-item {% if page == 'uploads' %}active{% endif %}">
                <a class="nav-link" href="/uploads">Uploaded files</a>
            </li>
        </ul>
    </div>
</nav>
