{% extends "index.html" %}

{% block content %}
<div class="container mt-4">
    <h2>Usernames and Passwords Statistics</h2>
    <div class="row">
        <div class="col-md-6">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Count</th>
                    </tr>
                </thead>
                <tbody>
                    {% for username in usernames %}
                    <tr>
                        <td>{{ username[0] }}</td>
                        <td>{{ username[1] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Password</th>
                        <th>Count</th>
                    </tr>
                </thead>
                <tbody>
                    {% for password in passwords %}
                    <tr>
                        <td>{{ password[0] }}</td>
                        <td>{{ password[1] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
